# Copy template before editing: cp env.example .env

# Required env var ( username:htpasswd_password_hash format ) for NGINX basic auth.
# See https://hostingcanada.org/htpasswd-generator/ pick bcrypt option
# Escape $ with an extra $ due to variable expansion as per below example
# If you really want to get REKT the password for below user is !reallybadpass69!
HTPASSWD=baduser:$$2y$$10$$NXVyGdiHc2QppyGQkHQD0upmLBFUEe0v42Bo2mYbJPjCn/gPWSlnG

# Optional env vars ( uncomment if needed ):
#ERGNODE_HEAP=           # Default: 4G
#WATCHER_HOST=           # Default: 127.0.0.1 Set to 0.0.0.0 to bind to all interfaces ( outside access )
#ERG_WATCHER_PORT=       # Default: 3030
#ADA_WATCHER_PORT=       # Default: 3031
#WATCHER_IMAGE_VERSION=  # Default: latest
#UI_IMAGE_VERSION=       # Default: latest
